.additional-product__title {
  @include oswald;
  @include text(24px, 24px, none, black);
  position: relative;
  margin: 0;
  margin-top: 26px;
  padding-bottom: 34px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-product__title::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 0;
  border: 1px solid $green;
  top: 14px;
  left: 246px;
}

.additional-product__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.additional-product__item {
  border-bottom: 1px solid #cdcdcd;
  margin-top: 11px;
}

.additional-product__item-title {
  @include oswald;
  @include text(16px, 16px, uppercase, $dark-grey-2);
  margin: 0;
}

.additional-product__item-text {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 15px;
}

.additional-product__text {
  @include arial;
  @include text(14px, 14px, none, $dark-grey-2);
}

.additional-product__link {
  @include oswald;
  @include text(16px, 0, uppercase, white);
  background-color: $green;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 19px;
}

.additional-product__link:hover,
.additional-product__link:focus {
  background-color: $green-2;
}

.additional-product__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.additional-product__present {
  margin-bottom: 35px;
  margin-top: 39px;
  width: 280px;
  height: 289px;
}

@media (min-width: $tablet-width) {
  .additional-product__title {
    @include text-media(36px, 36px);
    padding-left: 37px;
    border: none;
    padding-bottom: 81px;
  }

  .additional-product__title::after {
    width: 324px;
    top: 25px;
    left: 411px;
  }

  .additional-product__title::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 0;
    border: 1px solid #68b738;
    top: 25px;
    right: 708px;
  }

  .additional-product__list {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }

  .additional-product__item {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    margin-top: 0;
    height: 109px;
    padding-bottom: 29px;
  }

  .additional-product__item--border {
    border-bottom: 1px solid #cdcdcd;
  }

  .additional-product__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .additional-product__item-title {
    @include text-media(20px, 20px);
    padding-left: 38px;
    padding-top: 26px;
  }

  .additional-product__text {
    @include text-media(16px, 20px);
    padding-top: 14px;
    text-align: end;
  }

  .additional-product__text--width {
    width: 200px;
    padding-left: 23px;
    padding-top: 15px;
  }

  .additional-product__text--padding {
    padding-right: 36px;
  }

  .additional-product__link {
    margin-bottom: 0;
    width: 632px;
    margin-top: 8px;
    margin-left: 37px;
  }

  .additional-product__present {
    width: 708px;
    height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product__item {
    display: flex;
    padding-bottom: 0;
    border-left: none;
    border-right: none;
    margin-left: 0;
    height: 70px;
  }

  .additional-product__conteiner {
    display: flex;
    margin-bottom: 9px;
  }

  .additional-product__title::before {
    width: 67px;
    right: 1231px;
    top: 24px;
  }

  .additional-product__title::after {
    width: 957px;
    left: 371px;
    top: 24px;
  }

  .additional-product__title {
    padding-left: 0;
  }

  .additional-product__items {
    display: flex;
  }

  .additional-product__item-text {
    justify-content: start;
  }

  .additional-product__item-title {
    padding-left: 0;
    width: 160px;
  }

  .additional-product__text {
    text-align: start;
  }

  .additional-product__text--width {
    padding-left: 163px;
    width: 200px;
  }

  .additional-product__text--padding {
    padding-left: 44px;
    width: 50px;
    padding-top: 15px;
    padding-right: 0;
  }

  .additional-product__link {
    width: 244px;
    margin-top: 15px;
    margin-left: 33px;
  }

  .additional-product__present {
    margin-left: 79px;
    margin-top: 1px;
    width: 245px;
    height: 290px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    flex-direction: column;
    justify-content: start;
    align-items: normal;
    flex-shrink: 0;
  }

  @media (min-resolution: 192dpi) {
    .additional-product__present {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .present__img {
    padding-left: 79px;
    padding-top: 56px;
    width: 90px;
  }

  .present__text {
    padding-right: 0;
    padding-top: 48px;
    text-align: center;
  }
}
