.aside {
  background-color: #eaeaea;
}

.aside__title {
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 33px;
  margin: 0;

  @include oswald;
  @include text(36px, 40px, none, black);
}

.aside__text {
  @include arial;
  @include text(14px, 18px, none, $dark-grey);
  margin: 0;
  padding-left: 20px;
  width: 272px;
}

.aside__item {
  display: flex;
  justify-content: space-around;
}

.aside__content-info {
  text-align: center;
}

.aside__info {
  @include oswald;
  @include text(24px, 24px, uppercase, black);
}

.aside__content {
  @include arial;
  @include text(12px, 12px, none, $dark-grey);
  white-space: pre-line;
}

.aside__text-info {
  @include oswald;
  @include text(14px, 20px, uppercase, black);
  margin-top: 25px;
  margin-bottom: 42px;
  text-align: center;
}

.aside__item-switching {
  display: flex;
  justify-content: space-around;
}

.aside__text-switching {
  @include oswald;
  @include text(16px, 20px, uppercase, black);
}
