.aside {
  background-color: #eaeaea;
}

.aside__title {
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 33px;
  margin: 0;

  @include oswald;
  @include text(36px, 40px, none, black);
}

.aside__text {
  @include arial;
  @include text(14px, 18px, none, $dark-grey);
  margin: 0;
  padding-left: 20px;
  width: 272px;
}

.aside__item {
  display: flex;
  justify-content: space-around;
}

.aside__content-info {
  text-align: center;
}

.aside__info {
  @include oswald;
  @include text(24px, 24px, uppercase, black);
}

.aside__content {
  @include arial;
  @include text(12px, 12px, none, $dark-grey);
  white-space: pre-line;
}

.aside__text-info {
  @include oswald;
  @include text(14px, 20px, uppercase, black);
  margin-top: 25px;
  margin-bottom: 42px;
  text-align: center;
}

.aside__item-switching {
  display: flex;
  justify-content: space-around;
}

.aside__text-switching {
  @include oswald;
  @include text(16px, 20px, uppercase, black);
}

@media (min-width: $tablet-width) {
  .aside {
    background: none;
    border-top: 1px solid #d9d9d9;
  }

  .aside__title {
    @include text-media(60px, 60px);
    padding-left: 30px;
  }

  .aside__text {
    @include text-media(16px, 24px);
    width: 700px;
  }

  .aside__block {
    display: flex;
  }

  .aside__item {
    width: 366px;
  }

  .aside__info {
    @include text-media(30px, 37px);
    margin-top: 69px;
  }

  .aside__content {
    @include text-media(14px, 14px);
    white-space: normal;
  }

  .aside__text-info {
    @include text-media(20px, 20px);
    width: 175px;
    text-align: end;
    padding-left: 197px;
    margin-top: 65px;
  }

  .aside__text-switching {
    @include text-media(20px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .aside {
    display: flex;
    border: none;
  }

  .aside__block {
    display: block;
  }
}
