.copyright {
  width: 280px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright__link-img-text {
  background-image: url(../../img/html-academy.svg);
  width: 114px;
  height: 18px;
  background-repeat: no-repeat;
}

.copyright__link-img {
  background-image: url(../../img/htmlacademy.svg);
  width: 27px;
  height: 34px;
  background-repeat: no-repeat;
}
