.form__wrap {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 20px;
  padding-right: 19px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 1px;
}

.form__label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__text {
  @include oswald;
  @include text(16px, 18px, uppercase, $dark-grey);
  margin-right: 13px;
}

.form__text--age-width {
  width: 94px;
}

.form__text--weight-width {
  margin-right: 16px;
}

.form__input {
  @include oswald;
  @include text(16px, 18px, uppercase, $dark-grey);
  flex-grow: 1;
  height: 43px;
  padding: 0;
  padding-left: 15px;
}

.form__input--size {
  border: 1px solid #e7e7e7;
  margin-top: 2px;
  padding-top: 13px;
  width: 263px;
  height: 135px;
}

.form__input--width2 {
  width: 155px;
  margin-left: 2px;
}

.form__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 0;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 47px;
}

.form__item {
  @include oswald;
  @include text(16px, 18px, uppercase, $dark-grey-2);
  padding-bottom: 6px;
}

.form__radio-label {
  position: relative;
}

.form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__radio + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../img/radiobutton-off.svg");
  position: absolute;
  bottom: -3px;
}

.form__radio:checked + label::before {
  background-image: url("../../img/radiobutton-on.svg");
}

.form__filter-text {
  padding-left: 45px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 13px;
}

.form__fieldset--margin {
  margin-top: 13px;
}

.form__legend {
  @include oswald;
  @include text(24px, 26px, none, black);
  padding: 0;
  padding-bottom: 32px;
}

.form__list-checkbox {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
  padding-left: 46px;
  margin: 0;
  margin-top: 8px;
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + .form__checkbox-label::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 29px;
  position: absolute;
  border: 1px solid #cdcdcd;
  bottom: -5px;
  left: -46px;
  background-position: center center;
}

.form__checkbox:checked + .form__checkbox-label::before {
  background-image: url("../../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.form__checkbox-label {
  position: relative;
}

.form__button {
  @include text(16px, 20px, uppercase, white);
  @include oswald;
  text-decoration: none;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin-top: 34px;
  border: none;
  margin-left: 20px;
}

.form__text-item {
  @include arial;
  @include text(14px, 18px, normal, black);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .form__wrap {
    padding-top: 5px;
    border: none;
  }

  .form__label {
    padding-left: 51px;
    padding-top: 19px;
    align-items: normal;
    margin-bottom: 0;
  }

  .form__text {
    @include text-media(20px, 30px);
    margin-top: 12px;
  }

  .form__text--age-width {
    width: 476px;
  }

  .form__text--width {
    width: 117px;
  }

  .form__input {
    @include text-media(20px, 30px);
    width: 544px;
    height: 52px;
    padding-left: 17px;
    margin-left: 3px;
    flex-grow: 0;
  }

  .form__input--width {
    margin-left: 6px;
    width: 513px;
  }

  .form__input--width2 {
    width: 474px;
  }

  .form__list {
    border: 1px solid #e7e7e7;
    margin-left: 72px;
    gap: 17px;
    margin-top: 59px;
    padding-left: 42px;
    padding-top: 30px;
    height: 165px;
    width: 586px;
  }

  .form__radio + label::before {
    width: 40px;
    height: 40px;
    background-size: contain;
    bottom: -5px;
    left: -15px;
  }

  .form__filter-text {
    @include text-media(20px, 30px);
    color: $dark-grey-2;
  }

  .form__list-checkbox {
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 161px 161px;
    column-gap: 182px;
    margin-top: 30px;
    padding-left: 110px;
    row-gap: 41px;
  }

  .form__container {
    display: flex;
    margin-bottom: 60px;
  }

  .form__legend {
    @include text-media(36px, 36px);
    margin-top: 27px;
    margin-left: 50px;
  }

  .form__container-label {
    padding-top: 25px;
    padding-left: 1px;
  }

  .form__input--width-email {
    margin-left: 6px;
    width: 527px;
  }

  .form__label--padding-number {
    padding-left: 47px;
    padding-top: 18px;
  }

  .form__input--width-number {
    width: 512px;
  }

  .form__fieldset--comment {
    margin-top: 36px;
  }

  .form__input--size {
    margin-top: 45px;
    margin-left: 51px;
    padding-left: 18px;
    padding-top: 9px;
    width: 611px;
    height: 163px;
  }

  .form__fieldset--margin {
    margin-top: 52px;
  }

  .form__checkbox-text {
    @include text-media(20px, 30px);
  }

  .form__checkbox + .form__checkbox-label::before {
    width: 38px;
    height: 38px;
    bottom: -6px;
    left: -59px;
  }

  .form__button {
    @include text-media(20px, 0);
    margin-top: 59px;
    margin-left: 73px;
    height: 52px;
  }

  .form__text-item {
    @include text-media(16px, 16px);
    margin-top: 75px;
    margin-left: 62px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 70px;
  }

  .form__wrap {
    padding-left: 0;
  }

  .form__list-checkbox {
    grid-template-rows: none;
    grid-template-columns: 161px 161px 161px 161px;
    column-gap: 164px;
    padding-left: 59px;
    margin-top: 29px;
  }

  .form__div-container {
    display: flex;
  }

  .form__container-label {
    display: flex;
    padding-top: 24px;
  }

  .form__text--weight-width {
    width: 85px;
  }

  .form__text--age-width {
    width: 135px;
  }

  .form__list {
    margin-top: 26px;
    margin-left: 59px;
    height: 164px;
    width: 526px;
    flex-shrink: 0;
  }

  .form__input {
    padding-left: 19px;
  }

  .form__fieldset {
    margin-top: 0;
    padding-left: 0;
  }

  .form__legend {
    margin-top: 22px;
    margin-left: 0;
    padding-bottom: 34px;
  }

  .form__label {
    width: 568px;
    padding-left: 0;
  }

  .form__label--padding-number {
    padding-left: 78px;
    padding-top: 19px;
    width: 572px;
  }

  .form__fieldset--comment {
    margin-top: 43px;
  }

  .form__input--size {
    width: 1198px;
    margin-left: 1px;
    margin-top: 44px;
    padding-top: 8px;
    padding-left: 17px;
  }

  .form__fieldset--margin {
    margin-top: 66px;
  }

  .form__button {
    margin-left: 0;
    width: 568px;
  }

  .form__text-item {
    margin-left: 82px;
    margin-top: 76px;
  }
}
