.info {
  width: 320px;
  margin-left: 20px;
}

.title-info {
  @include oswald;
  @include text(38px, 40px, none, black);
}

.info__list {
  padding: 0px;
  list-style: none;
  display: grid;
  gap: 20px;
}

.item-info {
  @include arial;
  @include text(14px, 18px, none, $dark-grey)
}

.info__item {
  padding-left: 80px;
  position: relative;
  width: 205px;
}

.info__item-icon-leaf::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/leaf.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 225px;
  top: -3px;
}

.info__item-icon-powder::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/powder.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 225px;
  top: -3px;
}

.info__item-icon-dining::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/dining.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 225px;
  top: -3px;
}

.info__item-icon-clock::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/clock.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 225px;
  top: -3px;
}
