.info__title {
  @include oswald;
  @include text(36px, 40px, none, black);
  margin-top: 27px;
  margin-bottom: 38px;
}

.info__list {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 26px;
  grid-template-columns: 280px;
  margin-top: 42px;
  padding-bottom: 5px;
}

.info__item {
  @include arial;
  @include text(14px, 18px, none, $dark-grey);
  padding-left: 80px;
  position: relative;
}

.info__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-repeat: no-repeat;
  position: absolute;
  right: 219px;
  top: -3px;
}

.info__item--icon-leaf::before {
  background-image: url("../img/leaf.svg");
}

.info__item--icon-powder::before {
  background-image: url("../img/powder.svg");
}

.info__item--icon-dining::before {
  background-image: url("../img/dining.svg");
}

.info__item--icon-clock::before {
  background-image: url("../img/clock.svg");
}

@media (min-width: $tablet-width) {
  .info__title {
    @include text(60px, 60px, none, black);
    margin-top: 45px;
    margin-bottom: 32px;
  }

  .info__list {
    grid-template-columns: 247px 247px;
    grid-template-rows: 280px 280px;
    column-gap: 137px;
    row-gap: 37px;
    margin-bottom: 46px;
    margin-top: 33px;
  }

  .info__item {
    @include text(16px, 24px, none, $dark-grey);
    padding: 0;
    padding-top: 151px;
    width: 201px;
  }

  .info__item::before {
    width: 80px;
    height: 80px;
    right: 121px;
    top: 40px;
    background-position: center center;
  }

  .info__item::after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: 124px;
    top: 40px;
    height: 280px;
    z-index: -1;
  }

  .info__item--icon-leaf::after {
    background-image: url("../img/number-one.svg");
    width: 112px;
  }

  .info__item--icon-powder::after {
    background-image: url("../img/number-two.svg");
    width: 134px;
  }

  .info__item--icon-dining::after {
    background-image: url("../img/number-three.svg");
    width: 138px;
  }

  .info__item--icon-clock::after {
    background-image: url("../img/number-four.svg");
    width: 136px;
  }

  .info__text {
    display: block;
    width: 245px;
    white-space: pre-line;
  }
}

@media (min-width: $desktop-width) {
  .info__list {
    grid-template-columns: 247px 247px 247px 247px;
    grid-template-rows: auto;
    column-gap: 78px;
  }
}
