.info {
  width: 320px;
  margin-left: 20px;
}

.info__title {
  font-family: "Oswald";
  font-size: 38px;
  line-height: 40px;
  font-weight: normal;
}

.info__list {
  padding: 0px;
  list-style: none;
  display: grid;
  gap: 20px;
}

.info__item {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  position: relative;
  color: $dark-grey;
}

.info__item-icon-leaf::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/leaf.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 260px;
  top: -3px;
}

.info__item-icon-powder::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/powder.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 260px;
  top: -3px;
}

.info__item-icon-dining::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/dining.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 260px;
  top: -3px;
}

.info__item-icon-clock::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green;
  background-image: url(../../img/clock.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 260px;
  top: -3px;
}
