.invitation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $grey;
}

.invitation--background {
  background-color: white;
}

.invitation__title {
  @include oswald;
  @include text(16px, 18px, uppercase, black);
}

.invitation__text {
  @include arial;
  @include text(14px, 20px, none, $dark-grey);
}

@media (min-width: $tablet-width) {
  .invitation__title {
    @include text-media(20px, 21px);
    width: 171px;
  }

  .invitation__text {
    @include text-media(16px, 20px);
    white-space: pre-line;
    text-align: end;
  }
}
