.invitation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $grey;
}

.invitation--background {
  background-color: white;
}

.invitation__title {
  @include oswald;
  @include text(16px, 18px, uppercase, black);
  white-space: pre-line;
}

.invitation__text {
  @include arial;
  @include text(14px, 20px, none, $dark-grey);
}

@media (min-width: $tablet-width) {
  .invitation__title {
    @include text-media(20px, 21px);
    width: 171px;
    margin-top: 66px;
    margin-bottom: 51px;
  }

  .invitation__text {
    @include text-media(16px, 20px);
    white-space: pre-line;
    text-align: end;
    margin-top: 62px;
  }
}

@media (min-width: $desktop-width) {
  .invitation {
    width: 570px;
    padding-left: 31px;
    padding-top: 96px;
  }

  .invitation__title {
    padding-left: 75px;
    white-space: pre-line;
    line-height: 24px;
  }

  .invitation__text {
    text-align: start;
    padding-left: 40px;
    font-size: 16px;
  }
}
