.invitation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 22px;
  background-color: $grey;
}

.invitation--background {
  background-color: white;
}

.title-invitation {
  @include oswald;
  @include text(16px, 18px, uppercase, black)
}

.invitation__title {
}

.text-invitation {
  @include arial;
  @include text(14px, 20px, none, $dark-grey)
}

.invitation__text {
}
