.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav {
  display: none;
}

.main-nav--display {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
  }

  .main-nav__list {
    padding-left: 94px;
    margin-top: -4px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    padding-left: 540px;
    margin-top: -5px;
    justify-items: normal;
    width: 480px;
  }
}
