.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    padding-left: 539px;
    width: 480px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    padding-left: 540px;
    margin-top: -5px;
    justify-items: normal;
  }
}
