.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
}

.page__body {
  width: 320px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .page__body{
    width: 768px;
  }
}
