.page-header {
  margin-top: 12px;
}

.page-header__toggle--display {
  display: none;
}

.page-header__img {
  margin-top: 12px;
  margin-left: 20px;
}

.page-header__toggle {
  width: 40px;
  height: 40px;
  border: 0;
}

.page-header__container {
  height: 54px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    margin-top: 24px;
  }

  .page-header__img {
    margin-left: 30px;
    margin-top: 25px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 54px;
  }

  .page-header__img {
    margin-top: 54px;
    margin-left: 110px;
  }
}
