.body__page-header {
  margin-top: 12px;
}

@media (min-width: $tablet-width) {
  .body__page-header {
    margin-top: 24px;
  }

  .body__page-footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .body__page-header {
    margin-top: 54px;
    width: 1330px;
  }

  .body__page-footer {
    width: 1440px;
    padding-left: 0;
    padding-right: 0;
    margin-left: -110px;
    padding-bottom: 32px;
  }

  .body__page-main--form {
    padding-top: 18px;
  }
}
