.present {
  background-color: $green;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.present__text {
  @include arial;
  @include text(16px, 20px, none, white);
  margin: 0;
  white-space: pre-line;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .present {
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    flex-direction: row;
    justify-content: space-between;
  }

  .present__img {
    padding-left: 78px;
  }

  .present__text {
    text-align: start;
    padding-right: 124px;
  }
}
