.product {
  list-style: none;
}

.product__item {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 19px;
}

.product__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 125px;
}

.product__img {
  margin-top: -19px;
}


.product__element-link {
  text-decoration: none;
}

.product__subtitle {
  @include oswald;
  @include text(16px, 20px, uppercase, $dark-grey-2);
  margin: 0;
  width: 80px;
}

.product__container-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}

.product__item-text {
  display: flex;
  flex-direction: column;
}

.product__item-text-end {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.product__text {
  @include arial;
  @include text(12px, 16px, none, $dark-grey);
}

.product__link {
  @include oswald;
  @include text(16px, 0, uppercase, white);
  width: 280px;
  height: 40px;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 24px;
}

.product__dropdown {
  text-align: center;
  border-bottom: 1px solid $grey-2;
}

.product__dropdown-subtitle {
  @include oswald;
  @include text(16px, 20px, uppercase, #111111);
  text-transform: uppercase;
  position: relative;
  margin-top: 79px;
  margin-bottom: 8px;
}

.product__dropdown-subtitle::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../img/plus.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 43px;
  left: 145px;
}

.product__dropdown-text {
  @include arial;
  @include text(12px, 16px, none, $dark-grey);
  margin: 0;
  margin-bottom: 21px;
}

.product__dropdown-link {
  @include oswald;
  @include text(16px, 0, uppercase, $dark-grey);
  width: 279px;
  height: 40px;
  background-color: $grey;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .product {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 430px 430px;
    row-gap: 140px;
    column-gap: 60px;
    padding-left: 30px;
  }

  .product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .product__item {
    margin: 0;
    padding: 0;
    border: none;
    background: #f2f2f2;
    height: 430px;
  }

  .product__subtitle {
    @include text-media(20px, 24px);
    width: 150px;
    text-align: center;
    margin-left: 50px;
  }

  .product__container-text {
    width: 247px;
    margin-top: 19px;
  }

  .product__text {
    @include text-media(16px, 16px);
    margin-bottom: 18px;
  }

  .product__text--border {
    position: relative;
  }

  .product__text--border::before {
    content: "";
    width: 250px;
    height: 1px;
    position: absolute;
    top: 23px;
    background-color: #cdcdcd;
    left: -2px;
  }

  .product__link {
    margin-top: 20px;
    margin-left: 38px;
    width: 248px;
  }

  .product__dropdown {
    border: 2px solid #f2f2f2;
  }

  .product__dropdown-subtitle {
    @include text-media(20px, 22px);
    width: 135px;
    padding-left: 93px;
    margin-top: 162px;
    margin-bottom: 23px;
  }

  .product__dropdown-subtitle::before {
    background-image: url("../../img/plus-tablet.svg");
    width: 60px;
    height: 60px;
    bottom: 95px;
    left: 130px;
  }

  .product__dropdown-text {
    @include text-media(16px, 18px);
    margin-bottom: 87px;
    padding-left: 68px;
    width: 185px;
  }

  .product__desc {
    margin-top: 33px;
  }

  .product__dropdown-link {
    width: 248px;
    margin-left: 37px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 430px 430px;
    column-gap: 80px;
  }

  .product__item-text {
    padding-left: 39px;
  }

  .product__item-text-end {
    padding-right: 42px;
  }

  .product__text--border::before {
    width: 169px;
  }

  .product__link {
    width: 168px;
    margin-top: 20px;
  }

  .product__dropdown-subtitle {
    padding-left: 54px;
    margin-top: 160px;
  }

  .product__dropdown-subtitle::before {
    left: 90px;
    bottom: 94px;
  }

  .product__dropdown-text {
    padding-left: 28px;
  }

  .product__dropdown-link {
    width: 169px;
  }
}
