.program {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program__title--background::before {
  content: "";
  background-color: $green-2;
  background-image: url("../img/index-background-mobile@1x.jpg");
  width: 320px;
  height: 305px;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
}

.program__title {
  @include oswald;
  @include text (36px, 36px, none, white);
  margin: 0;
  text-align: center;
  position: relative;
  width: 320px;
  padding-top: 27px;
  padding-bottom: 25px;
}

.program__slogan {
  @include oswald;
  @include text (14px, 14px, uppercase, white);
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
}

.program__button {
  @include text(14px, 18px, uppercase, white);
  @include oswald;
  text-decoration: none;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin-top: 3px;
}

.program__item {
  width: 280px;
  height: 266px;
  background-color: $grey;
}

.program__title-item {
  @include oswald;
  @include text(24px, 37px, uppercase, black);
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 90px;
}

.program__title-item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.program__title-item--slim::before {
  width: 50px;
  height: 53px;
  background-image: url("../../img/cat_back.svg");
  right: 210px;
  bottom: -9px;
}

.program__title-item--pro::before {
  width: 67px;
  height: 50px;
  background-image: url("../../img/cat_back-pro.svg");
  right: 205px;
  bottom: -9px;
}

.program__text {
  @include arial;
  @include text(14px, 18px, none, $dark-grey);
  width: 240px;
  margin: 0;
  margin-bottom: 15px;
  margin-left: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  @include oswald;
  @include text(16px, 16px, uppercase, black);
  text-decoration: none;
  width: 226px;
  position: relative;
  padding-left: 20px;
}

.program__item--margin {
  margin-top: 22px;
  margin-bottom: 20px;
}

.program__link::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/icon-arrow.svg");
  width: 32px;
  height: 12px;
  background-repeat: no-repeat;
  bottom: 5px;
  left: 120px;
}

@media (min-width: $tablet-width) {
  .program {
    display: block;
  }

  .program__title {
    @include text(60px, 60px, none, black);
    text-align: start;
    width: 420px;
    padding-left: 117px;
    padding-bottom: 40px;
  }

  .program__slogan {
    @include text(20px, 20px, uppercase, black);
    text-align: start;
    padding-left: 117px;
    padding-bottom: 46px;
  }

  .program__picture {
    position: absolute;
    top: 204px;
    z-index: -1;
    right: 312px;
  }

  .program__title--background::before {
    background-image: none;
    background-color: white;
  }

  .program__button {
    @include text(20px, 0, uppercase, white);
    margin-left: 117px;
    width: 244px;
    height: 54px;
    margin-bottom: 540px;
  }

  .program__item {
    width: 708px;
    height: 372px;
    margin-left: 30px;
  }

  .program__title-item {
    @include text(36px, 36px, uppercase, black);
    padding-top: 77px;
    margin-bottom: 24px;
  }

  .program__title-item--slim::before {
    background-image: url("../../img/cat_back-tablet.svg");
    width: 200px;
    height: 211px;
    right: 92px;
    top: 77px;
  }

  .program__title-item--pro::before {
    background-image: url("../../img/cat_back-pro-tablet.svg");
    width: 268px;
    height: 200px;
    right: 62px;
    top: 92px;
  }

  .program__text {
    @include text(16px, 24px, none, black);
    border: none;
    width: 380px;
  }

  .program__text--size {
    width: 343px;
  }

  .program__link {
    @include text(20px,30px, uppercase, black);
  }

  .program__link::after {
    bottom: 9px;
    left: 147px;
  }
}

@media (min-width: $desktop-width) {
  .program__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .program__item {
    width: 570px;
    margin: 0;
  }

  .program__title-item {
    padding-left: 214px;
    margin-top: 0;
    margin-bottom: 73px;
  }

  .program__title-item--slim::before {
    background-image: url("../../img/cat_back-desktop.svg");
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }

  .program__title-item--pro::before {
    background-image: url("../../img/cat_back-pro-desctop.svg");
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }

  .program__text {
    padding-bottom: 23px;
    margin-bottom: 0;
  }
}
