.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
}

.social__list {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social__link {
  background-repeat: no-repeat;
  display: block;
}

.social__link--icon-vk {
  background-image: url("../../img/icon-vk.svg");
  width: 23px;
  height: 16px;
}

.social__link--icon-i {
  background-image: url("../../img/icon-insta.svg");
  width: 16px;
  height: 16px;
}

.social__link--icon-fb {
  background-image: url("../../img/icon-fb.svg");
  width: 22px;
  height: 22px;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    justify-content: start;
  }

  .social__list {
    width: auto;
    justify-content: start;
    align-items: baseline;
  }

  .social__link--icon-vk {
    width: 30px;
    height: 22px;
    margin-bottom: -4px;
  }

  .social__link--icon-i {
    width: 23px;
    height: 23px;
    margin-left: 28px;
    margin-top: 3px;
  }

  .social__link--icon-fb {
    width: 13px;
    height: 27px;
    margin-left: 29px;
    margin-bottom: -5px;
  }
}
